<div class="box">
    <div class="box-header">
        Weathers
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {{#each model as |weather index|}}
                <tr>
                    <td>{{basic-math index "+" 1}}</td>
                    <td>{{weather.name}}</td>
                    <td>{{weather.active}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        {{pagination-pager count=totalPages current=page}}
    </div>
</div>