<div class="box">
    <div class="box-header">
        Weathers
    </div>
    <div class="box-body">
        {{ember-table
        hasFooter=false
        columns=tableColumns
        content=tableContent}}
    </div>
</div>