<section class='weatherapp'>
    <header id='header'>
        <h1>Cuaca</h1>
    </header>

    <section class='main'>
        {{weathers-list weathers=filtered class='weather-list'}}
    </section>

    <footer class='footer'>
    </footer>
</section>

<footer class='info'>
</footer>
