ini pods/application
<div class="container-fluid">
    {{#if isManager}}
        {{partial "application/manager"}}
    {{else}}
        {{partial "application/guest"}}
    {{/if}}

    <div class="row"><!-- main content -->

    </div>
    <!-- main content end -->
    <div class="row"><!-- footer -->

    </div>
    <!-- footer end -->
</div>